<div class="container mt-5">
    <div class="mb-3">
      <div class="row">
        <!-- <div class="col-md-9">
                <a class="btn btn-danger" href="/new">New Restaurant</a>
            </div> -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-12 mb-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex">
                  <h2 class="card-title">
                    <%= partner.ign %>
                  </h2>
                </div>
                <p class="card-text text-capitalize">
                    <%= partner.description %>
                </p>
                <p class="card-text text-capitalize">
                  <%= partner.game %>
                </p>
                <p class="card-text text-capitalize">
                    <%= partner.rank %>
                </p>
                <p class="card-text">
                    <%= "$" %><%= partner.cost %><%= "/Hour" %>
                </p>
              </div>
              <form action="/hire/<%= partner._id %>" method="GET">
                <button type="submit" class="btn btn-info">Hire!</button>
              </form>
              <hr>
              <h2 class="card-title">
                <%= partner.ign %>
              </h2>
              <ul class="list-group mt-3">
                <% partner.hiringHistory.forEach(hiring => { %>
                <li class="list-group-item">
                  <%= hiring %>
                </li>
                <% }) %>
            </div>
          </div>
        </div>
      </div>
      </div>