<div class="container mt-5">
  <div class="col-12">
          <div class="card mb-3" style="max-width: 1000px">
          <div class="row no-gutters">
              <div class="col-md-4">
              <img src="<%= partner.img %>" class="card-img" alt="profile picture">
              </div>
              <div class="col-md-8">
              <div class="card-body">
                <div class="d-flex">
                  <h2 class="card-title">
                    <%= partner.ign %>
                  </h2>
                </div>
                <p class="card-text text-capitalize">
                    <%= partner.description %>
                </p>
                <p class="card-text text-capitalize">
                  <%= partner.game %>
                </p>
                <p class="card-text text-capitalize">
                    <%= partner.rank %>
                </p>
                <p class="card-text">
                    <%= "$" %><%= partner.cost %><%= "/Hour" %>
                </p>
              </div>
              <form action="/hire/<%= partner._id %>" method="GET" class="ml-3 mb-2">
                <button type="submit" class="btn btn-info" id="hireButton">Hire!</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <h3 class="card-title ml-3">
        Recent Hiring History
      </h3>
      <ul class="list-group mt-3">
        <li class="list-group-item">
          <%= partner.hiringHistory[0] %>
        </li>
        <li class="list-group-item">
          <%= partner.hiringHistory[1] %>
        </li>
        <li class="list-group-item">
          <%= partner.hiringHistory[2] %>
        </li>
        <li class="list-group-item">
          <%= partner.hiringHistory[3] %>
        </li>
        <li class="list-group-item">
          <%= partner.hiringHistory[4] %>
        </li>
        </ul>
        <hr>
        <h3 class="card-title ml-3">
          Recent Testimonials
        </h3>
        <ul class="list-group mt-3">
          <li class="list-group-item">
            <%= partner.testimonials[0] %>
          </li>
          <li class="list-group-item">
            <%= partner.testimonials[1] %>
          </li>
          <li class="list-group-item">
            <%= partner.testimonials[2] %>
          </li>
          <li class="list-group-item">
            <%= partner.testimonials[3] %>
          </li>
          <li class="list-group-item">
            <%= partner.testimonials[4] %>
          </li>
          <br>
          </ul>
          <form action="/testimonial/<%= partner._id %>" method="GET" class="form-inline"> 
            <input class="form-control mr-sm-5 searchBar" type="search" placeholder="Very Good" aria-label="Search" name="searchBar">
            <button class="btn btn-outline-primary my-1 my-sm-0 searchButton" type="submit">Submit Tesimonial</button>
          </form>
          <hr>
          
</div>
      